*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1440px;
}
.top{
    margin-bottom: 12px;
    padding: 0 155px;
    margin-left: 0 155px;
    margin-right: 0 411px;
}
.top h3{
    color: #212121;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px; 
    letter-spacing: -0.35px
}
.top h1{
    color:  #212121;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -0.7px;
}

.sociall{
    display: flex;
    gap: 32px;
    padding: 40px 155px;
    margin-bottom: 120px;
}
.middle p{
    color:  #212121;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: -0.35px;
    padding: 0 165px;
    margin-bottom: 64px;
}
.kfc{
    border-radius: 12px;
    border: 1px solid;
    padding: 189px;
}
.kfc h2{
    margin-top: 24px;
}
.kfc p{
    color:  #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    margin-top: 12px;
}
.kfc .who{
    margin-top: 64px;
    color:  #212121;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.everday{
    width: 1062px;
    height: 468px;
    flex-shrink: 0;
}
.everday .ev{
    border-radius: 12px;
    border: 1px solid;
    padding: 189px;
    margin-top: 104px;
}
.everday h4{
    color:  #212121;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.35px;
    padding: 189px;
    margin-bottom: 12px;
}
.everday p{
    color:  #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    padding: 189px;
    margin-bottom: 12px;
}